@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/link.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px;
}
  